body {
    width: 100%;
    max-width: 100%;
}

#main {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

button {
    border: 2px solid black;
    font-size: 2em;
    text-align: center;
    height: 2em;
    width: 2em;
}

button:hover {
    background-color: lightblue
}

#tablero {
    max-height: 90vh;
    overflow-y: auto;
}