main {
    #contenedor {
        display: flex;
        flex-direction: row;
    }

    #contenedorPalabras {
        width: 15vw;
        position: absolute;
        left: 15%;
        transform: translate(-50%, 0%);

        h2 {
            text-align: center;
        }
    }

    table {
        margin: 0px;
        padding: 0px;

        td,
        tr,
        button {
            padding: 0px;
        }

        button {
            border-radius: 0px;
            background-color: lightgray;
            color: black;
        }
    }

    button {
        border: 2px solid black;
        font-size: 2em;
        text-align: center;
        height: 2em;
        width: 2em;
    }

    button:hover {
        background-color: lightblue
    }

}

#clock {
    display: block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.5em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}